.homePage {
  padding: 40px 0;

  background-color: #e8e8e8;
}

.mainContainer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-bottom: 30px;
  text-align: center;

  font-weight: 600;
  font-size: 30px;

  color: orange;
}

.moviesList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  margin-right: -20px;
  margin-bottom: -40px;
}

.moviesList__item {
  display: flex;
  flex-basis: calc((100% - 20px * 5) / 5);
  margin-right: 20px;
  margin-bottom: 40px;
}

.moviesList__item:hover,
.moviesList__item:focus {
  transform: scale(1.03);
}

.moviesList__movieTitle {
  margin-top: 5px;
  text-align: center;

  font-weight: 500;
  font-size: 17px;

  color: #505050;
}

.moviesList__item:hover .moviesList__movieTitle,
.moviesList__item:focus .moviesList__movieTitle {
  color: orange;
}
